body {
    text-align: justify;
    letter-spacing: 0.15em;
    font-family: Georgia, serif;
    color: #442e22;
}

main,
header,
footer,
li {
    display: flex;
    justify-content: center;
}

header {
    align-items: center;
    font-size: 2em;
    text-decoration: underline;
    margin: 1em 0 2em 0;
}

main{
    margin-bottom: 100px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

li{
    margin-left: 10px;
}

li,
textarea {
    align-items: center;
    width: 20vw;
    height: 16vw;
    border-radius: 20px;
    margin-bottom: 40px;
}

textarea {
    border: 2px solid #442e22;
    background-color: #e9e4e4;
    resize: none;
    font-size: 1.5vw;
    padding: 1vw;
}

::-webkit-scrollbar, textarea::-webkit-scrollbar {
    display: block;
    width: 5px;
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #825840;
}

textarea::-webkit-scrollbar-track {
    background: transparent;
}
    
::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
    background-color: #442e22;
    border-right: none;
    border-left: none;
}

textarea::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

textarea::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

button,
textarea {
    outline: none;
}

button {
    border-radius: 100%;
    width: 5vw;
    height: 5vw;
    border: 2px solid #442e22;
    color: #442e22;
    font-size: 3vw;
    background-color: #e9e4e4;
    cursor: pointer;
}

button:hover {
    border: 2px solid #825840;
    color: #825840;
}

footer {
    position: absolute;
    width: -webkit-fill-available;
    height: 35px;
    margin-top: 3vh;
}

.observation{
    color: #442e22;
    margin-bottom: 3rem;
}